In [1]:
%cd ../

/home/dmoreno/pipeline_v4_final/pipeline/training/lc_classifiers/data_acquisition/ztf_forced_photometry

In [2]:
import pandas as pd

In [3]:
partitions_new_tax = pd.read_parquet('preprocessed/partitions/241209_ndetge8_20folds/partitions.parquet')
partitions_new_tax

                oid          ra        dec submitter class_name      partition
1      ZTF17aaazlzl  120.870621  33.462329    amunoz        AGN           test
4      ZTF22aaaokdq  219.567335  -6.972391    amunoz        AGN           test
11     ZTF22aaplgna  188.056342  53.776541    amunoz        AGN           test
17     ZTF22aboawka   85.887358 -27.651368    amunoz        AGN           test
20     ZTF22abuhxen    7.403244 -17.641729    amunoz        AGN           test
...             ...         ...        ...       ...        ...            ...
11924  ZTF18abadmgy  337.677551  63.950673    amunoz        LPV  validation_19
15683  ZTF18ablixzb  285.266886  11.485054    amunoz       DSCT  validation_19
6415   ZTF19aaozuqe  208.366868  56.015841    amunoz     Blazar  validation_19
34052  ZTF21aaqldsj  213.126904  34.550099    amunoz       SNII  validation_19
35432  ZTF19aadendl  167.685606   4.847368    amunoz       SNIa  validation_19

[647028 rows x 6 columns]

In [4]:
# Filtrar los datos de test y convertirlos en un diccionario
ids_test_new_tax = set(partitions_new_tax[partitions_new_tax["partition"] == "test"].oid.values)
print(f'Test {len(ids_test_new_tax)}')

# Calcular las proporciones de train y val en cada fold
num_folds = 20 
for fold in range(num_folds):
    num_ids_train = partitions_new_tax[partitions_new_tax.partition == f'training_{fold}'].shape[0]
    num_ids_val = partitions_new_tax[partitions_new_tax.partition == f'validation_{fold}'].shape[0]
    total = num_ids_train + num_ids_val

    print(f'Fold {fold}: train {num_ids_train} ({(num_ids_train/total) * 100 :.1f}%) - val {num_ids_val} ({(num_ids_val/total) * 100:.1f} %)')

Test 7988
Fold 0: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 1: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 2: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 3: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 4: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 5: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 6: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 7: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 8: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 9: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 10: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 11: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 12: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 13: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 14: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 15: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 16: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 17: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 18: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 19: train 25561 (80.0%) - val 6391 (20.0 %)

In [5]:
partitions_sanchez_tax = pd.read_parquet('preprocessed/partitions/241209_ndetge8_sanchez_tax_20folds/partitions.parquet')
partitions_sanchez_tax

                oid          ra        dec submitter class_name      partition
1      ZTF17aaazlzl  120.870621  33.462329    amunoz        AGN           test
4      ZTF22aaaokdq  219.567335  -6.972391    amunoz        AGN           test
11     ZTF22aaplgna  188.056342  53.776541    amunoz        AGN           test
17     ZTF22aboawka   85.887358 -27.651368    amunoz        AGN           test
20     ZTF22abuhxen    7.403244 -17.641729    amunoz        AGN           test
...             ...         ...        ...       ...        ...            ...
3825   ZTF18abvbvyu  342.849194  37.460418    amunoz        AGN  validation_19
2769   ZTF18acvwdcs  196.429104  23.708043    amunoz        AGN  validation_19
15625  ZTF17aaasaif   99.136533   6.775549    amunoz       DSCT  validation_19
16309  ZTF18abvklaz    5.451798  35.080878    amunoz    CV/Nova  validation_19
40240  ZTF18abnuqfh   38.317363  61.891078    amunoz        YSO  validation_19

[647028 rows x 6 columns]

In [6]:
# Filtrar los datos de test y convertirlos en un diccionario
ids_test_sanchez_tax = set(partitions_sanchez_tax[partitions_sanchez_tax["partition"] == "test"].oid.values)
print(f'Test {len(ids_test_sanchez_tax)}')

# Calcular las proporciones de train y val en cada fold
num_folds = 20 
for fold in range(num_folds):
    num_ids_train = partitions_sanchez_tax[partitions_sanchez_tax.partition == f'training_{fold}'].shape[0]
    num_ids_val = partitions_sanchez_tax[partitions_sanchez_tax.partition == f'validation_{fold}'].shape[0]
    total = num_ids_train + num_ids_val

    print(f'Fold {fold}: train {num_ids_train} ({(num_ids_train/total) * 100 :.1f}%) - val {num_ids_val} ({(num_ids_val/total) * 100:.1f} %)')

Test 7988
Fold 0: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 1: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 2: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 3: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 4: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 5: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 6: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 7: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 8: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 9: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 10: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 11: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 12: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 13: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 14: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 15: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 16: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 17: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 18: train 25561 (80.0%) - val 6391 (20.0 %)
Fold 19: train 25561 (80.0%) - val 6391 (20.0 %)

In [7]:
ids_restantes = ids_test_new_tax - ids_test_sanchez_tax
partitions_new_tax[partitions_new_tax.oid.isin(ids_restantes)].value_counts('class_name')

Series([], Name: count, dtype: int64)