In [1]:
%cd ../

/home/dmoreno/pipeline_v4_final/pipeline/training/stamp_classifier/data_acquisition

In [2]:
import pandas as pd

In [3]:
test_first_stamps_fixed = pd.read_pickle('data/test_first_stamps_fixed.pkl')
test_first_stamps_fixed

,oid,candid,ra,dec,science,reference,diff,class
0,ZTF18acrvifj,696386371515015013,97.911473,44.166678,"[[150.61218, 156.52292, 147.70602, 176.33075, ...","[[158.3742, 158.39339, 161.46977, 160.3848, 15...","[[-1.5471046, -7.7179246, -2.098798, 4.9722285...",asteroid
1,ZTF20abkxmgb,1288219222015015013,226.357595,46.980558,"[[246.61423, 243.23764, 235.10992, 246.75642, ...","[[240.77872, 243.13548, 242.43506, 247.4099, 2...","[[4.0596557, -4.1685696, 1.623909, -1.1203084,...",bogus
2,ZTF19acarncj,996206012515010011,310.241926,-17.263419,"[[136.94568, 133.78656, 131.76529, 126.81133, ...","[[134.86603, 131.85738, 132.40509, 131.69608, ...","[[-3.15233, -3.9634652, 3.2999918, 6.501933, 4...",bogus
3,ZTF20aawjbfj,1211173763415015012,153.997027,26.575844,"[[181.98741, 182.82788, 175.12471, 189.37054, ...","[[180.4975, 181.13257, 182.76552, 183.82341, 1...","[[5.588399, 3.8445094, 1.4256717, 1.5435961, 1...",bogus
4,ZTF19aacwhdf,739437341315015051,141.613111,16.308071,"[[158.37036, 160.29906, 159.95712, 165.68857, ...","[[162.34294, 161.96933, 164.08528, 162.35286, ...","[[-4.624126, -0.96179765, -4.8974414, 3.573813...",asteroid
...,...,...,...,...,...,...,...,...
9857,ZTF18aagwylf,unknown,253.952703,23.838335,"[[102.38482, 106.80202, 99.84131, 101.54997, 1...","[[103.332535, 104.842, 106.05583, 106.6365, 10...","[[-1.7475458, -1.6464193, -3.4444723, -6.13738...",bogus
9858,ZTF18aarkrua,unknown,164.455587,9.003795,"[[280.43918, 270.82642, 279.51678, 272.69455, ...","[[271.1202, 272.34232, 273.18, 271.08344, 272....","[[9.661203, -6.860366, 9.703698, -0.61737055, ...",bogus
9859,ZTF18aapwhnu,unknown,274.923856,46.905797,"[[88.46057, 74.74536, 87.83728, 98.5011, 98.66...","[[95.3665, 96.60885, 97.618744, 99.76283, 97.8...","[[2.2282143, -21.240143, 3.3253167, -9.664092,...",bogus
9860,ZTF18aaipkfp,unknown,222.682940,38.877842,"[[284.96924, 283.30377, 288.58447, 286.90332, ...","[[285.61786, 289.34625, 289.71677, 287.02057, ...","[[4.8807335, -8.18122, -0.75677854, -0.4062404...",bogus
9861,ZTF18aagxsix,unknown,254.137592,40.940354,"[[178.0524, 182.45773, 186.23413, 173.73466, 1...","[[182.81564, 181.03789, 178.99573, 180.27852, ...","[[3.4890547, 2.1493018, -3.7691607, 7.8310237,...",bogus

In [12]:
test_first_stamps_dataset = pd.read_pickle('data/test_first_stamps_dataset.pkl')
test_first_stamps_dataset

,candid,ra,dec,science,reference,diff,class
oid,,,,,,,
ZTF18acrvifj,696386371515015013,97.911473,44.166678,"[[150.61218, 156.52292, 147.70602, 176.33075, ...","[[158.3742, 158.39339, 161.46977, 160.3848, 15...","[[-1.5471046, -7.7179246, -2.098798, 4.9722285...",asteroid
ZTF20abkxmgb,1288219222015015013,226.357595,46.980558,"[[246.61423, 243.23764, 235.10992, 246.75642, ...","[[240.77872, 243.13548, 242.43506, 247.4099, 2...","[[4.0596557, -4.1685696, 1.623909, -1.1203084,...",bogus
ZTF19acarncj,996206012515010011,310.241926,-17.263419,"[[136.94568, 133.78656, 131.76529, 126.81133, ...","[[134.86603, 131.85738, 132.40509, 131.69608, ...","[[-3.15233, -3.9634652, 3.2999918, 6.501933, 4...",bogus
ZTF20aawjbfj,1211173763415015012,153.997027,26.575844,"[[181.98741, 182.82788, 175.12471, 189.37054, ...","[[180.4975, 181.13257, 182.76552, 183.82341, 1...","[[5.588399, 3.8445094, 1.4256717, 1.5435961, 1...",bogus
ZTF19aacwhdf,739437341315015051,141.613111,16.308071,"[[158.37036, 160.29906, 159.95712, 165.68857, ...","[[162.34294, 161.96933, 164.08528, 162.35286, ...","[[-4.624126, -0.96179765, -4.8974414, 3.573813...",asteroid
...,...,...,...,...,...,...,...
ZTF18aagwylf,unknown,253.952703,23.838335,"[[102.38482, 106.80202, 99.84131, 101.54997, 1...","[[103.332535, 104.842, 106.05583, 106.6365, 10...","[[-1.7475458, -1.6464193, -3.4444723, -6.13738...",bogus
ZTF18aarkrua,unknown,164.455587,9.003795,"[[280.43918, 270.82642, 279.51678, 272.69455, ...","[[271.1202, 272.34232, 273.18, 271.08344, 272....","[[9.661203, -6.860366, 9.703698, -0.61737055, ...",bogus
ZTF18aapwhnu,unknown,274.923856,46.905797,"[[88.46057, 74.74536, 87.83728, 98.5011, 98.66...","[[95.3665, 96.60885, 97.618744, 99.76283, 97.8...","[[2.2282143, -21.240143, 3.3253167, -9.664092,...",bogus
ZTF18aaipkfp,unknown,222.682940,38.877842,"[[284.96924, 283.30377, 288.58447, 286.90332, ...","[[285.61786, 289.34625, 289.71677, 287.02057, ...","[[4.8807335, -8.18122, -0.75677854, -0.4062404...",bogus
ZTF18aagxsix,unknown,254.137592,40.940354,"[[178.0524, 182.45773, 186.23413, 173.73466, 1...","[[182.81564, 181.03789, 178.99573, 180.27852, ...","[[3.4890547, 2.1493018, -3.7691607, 7.8310237,...",bogus

In [13]:
consolidated_dataset = pd.read_pickle('data/processed/consolidated_dataset.pkl')
consolidated_dataset

,oid,candid,ra,dec,science,reference,diff,class
11,ZTF21aaebkmj,1501128131215015004,65.163495,-26.636435,"[[404.2104, 394.65637, 403.2213, 391.0437, 396...","[[387.88876, 388.28632, 390.10416, 391.13345, ...","[[15.940292, 8.174846, 11.953584, 0.73741037, ...",sn
14,ZTF18abtnlik,643114394415015053,279.321654,49.148389,"[[79.67049, 86.467064, 78.972015, 81.246994, 8...","[[86.60097, 89.05083, 88.408226, 86.859764, 86...","[[-3.8708775, -6.8700647, -7.4733896, -4.98984...",sn
9,ZTF19acjurot,1058126442015015014,320.853375,-17.720127,"[[113.59538, 131.67825, 126.9975, 119.60596, 1...","[[121.8025, 123.31801, 121.95386, 122.05768, 1...","[[-9.240418, 11.035837, 4.2956905, -2.7166245,...",sn
15,ZTF20aanvpzo,1200441200215015003,224.375994,8.389928,"[[161.64427, 161.45685, 166.97305, 155.20792, ...","[[164.45232, 162.76022, 164.05763, 166.44301, ...","[[-2.7969754, -1.3325354, 0.4744801, -8.980967...",sn
19,ZTF20aawxpru,1306411870015015009,322.840280,9.429956,"[[147.37575, 151.22055, 142.37598, 139.72981, ...","[[148.13307, 144.70827, 142.08238, 140.17836, ...","[[-2.9152439, 6.9139023, 0.40033725, 0.6607923...",sn
...,...,...,...,...,...,...,...,...
0,ZTF19acrcngf,1043073070615015017,287.896865,-13.058972,"[[206.97339, 173.37134, 150.2749, 152.7378, 14...","[[155.02087, 158.51129, 157.61488, 154.88008, ...","[[37.835674, 19.334515, -8.658074, -5.0905323,...",satellite
0,ZTF19acrdiud,1043169350415015017,359.363247,2.152355,"[[65.89429, 102.50635, 56.308838, 98.82373, 87...","[[84.88643, 84.427444, 84.94388, 83.619865, 84...","[[-21.092207, 25.29539, -25.828407, 13.0439205...",satellite
0,ZTF19acrdyfr,1043265262115015067,72.337484,54.630553,"[[218.5285, 185.9408, 186.80939, 192.61707, 19...","[[198.42099, 198.68503, 198.60121, 197.94058, ...","[[19.005165, -10.944396, -12.604253, -4.095271...",satellite
0,ZTF19acrqqvl,1044312843715015025,110.675771,48.877886,"[[159.9809, 158.2207, 189.58203, 153.29114, 16...","[[175.81294, 174.1777, 172.69972, 171.43967, 1...","[[-13.695163, -12.267542, 4.092777, -10.293606...",satellite
0,ZTF19acrydac,1046210042515015007,24.930835,-10.105637,"[[122.41797, 52.523438, 66.01123, 109.99243, 1...","[[108.07239, 110.502525, 109.38886, 106.65247,...","[[15.113004, -62.713535, -41.185696, 9.066036,...",satellite

In [24]:
a = consolidated_dataset[consolidated_dataset.oid.isin(test_first_stamps_fixed.oid.values)]
a

,oid,candid,ra,dec,science,reference,diff,class
14,ZTF18abtnlik,643114394415015053,279.321654,49.148389,"[[79.67049, 86.467064, 78.972015, 81.246994, 8...","[[86.60097, 89.05083, 88.408226, 86.859764, 86...","[[-3.8708775, -6.8700647, -7.4733896, -4.98984...",sn
14,ZTF18abmrhom,624275525915015005,325.047009,21.558326,"[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...","[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...","[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...",sn
59,ZTF20abjyoty,1433229102115015005,23.644589,-3.343752,"[[194.92285, 217.65775, 208.12668, 214.41992, ...","[[211.27696, 212.17029, 213.0716, 213.4074, 21...","[[-14.490592, -0.053361293, -10.381545, 5.4093...",sn
43,ZTF19aabyppp,858191575015015000,175.690612,21.714840,"[[203.70818, 205.24055, 200.81445, 198.25526, ...","[[202.81029, 203.31474, 203.81523, 203.22833, ...","[[1.1833701, 1.9248611, -2.6302965, -3.2229884...",sn
21,ZTF20acobevy,1445105054315015001,0.562998,-23.495017,"[[322.08258, 322.74316, 328.82214, 312.85754, ...","[[314.3545, 320.30292, 321.7528, 316.95563, 31...","[[3.794005, 7.222793, 2.303992, -1.6538174, 10...",sn
...,...,...,...,...,...,...,...,...
0,ZTF19acftdhz,1020195631015015012,342.574051,1.077047,"[[153.08875, 139.67166, 150.58994, 156.79999, ...","[[151.06505, 149.8949, 149.18938, 150.85251, 1...","[[-0.45030835, -6.6188827, -3.6711657, 10.9179...",satellite
0,ZTF19acqxshs,1042127545015015002,307.763928,-14.329139,"[[127.21539, 136.37006, 153.26569, 146.86566, ...","[[144.475, 144.72737, 142.48212, 144.18748, 14...","[[-13.794186, -13.200885, 13.645159, 9.248588,...",satellite
0,ZTF19acqykmb,1042291142015015017,94.146447,11.340186,"[[96.12891, 121.75983, 108.45166, 115.3031, 96...","[[101.065125, 101.81215, 103.88564, 105.103355...","[[4.418814, 19.55451, -0.005840051, 10.860949,...",satellite
0,ZTF19acrdyfr,1043265262115015067,72.337484,54.630553,"[[218.5285, 185.9408, 186.80939, 192.61707, 19...","[[198.42099, 198.68503, 198.60121, 197.94058, ...","[[19.005165, -10.944396, -12.604253, -4.095271...",satellite
0,ZTF19acrydac,1046210042515015007,24.930835,-10.105637,"[[122.41797, 52.523438, 66.01123, 109.99243, 1...","[[108.07239, 110.502525, 109.38886, 106.65247,...","[[15.113004, -62.713535, -41.185696, 9.066036,...",satellite

In [25]:
a['s'] = a['science'].apply(lambda x: x.shape)
a = a[a['s'] == (63, 63)]
a.drop_duplicates(subset=["oid"], keep='first', inplace=True)
a

/tmp/ipykernel_949498/3473593462.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['s'] = a['science'].apply(lambda x: x.shape)

,oid,candid,ra,dec,science,reference,diff,class,s
14,ZTF18abtnlik,643114394415015053,279.321654,49.148389,"[[79.67049, 86.467064, 78.972015, 81.246994, 8...","[[86.60097, 89.05083, 88.408226, 86.859764, 86...","[[-3.8708775, -6.8700647, -7.4733896, -4.98984...",sn,"(63, 63)"
14,ZTF18abmrhom,624275525915015005,325.047009,21.558326,"[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...","[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...","[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...",sn,"(63, 63)"
59,ZTF20abjyoty,1433229102115015005,23.644589,-3.343752,"[[194.92285, 217.65775, 208.12668, 214.41992, ...","[[211.27696, 212.17029, 213.0716, 213.4074, 21...","[[-14.490592, -0.053361293, -10.381545, 5.4093...",sn,"(63, 63)"
43,ZTF19aabyppp,858191575015015000,175.690612,21.714840,"[[203.70818, 205.24055, 200.81445, 198.25526, ...","[[202.81029, 203.31474, 203.81523, 203.22833, ...","[[1.1833701, 1.9248611, -2.6302965, -3.2229884...",sn,"(63, 63)"
21,ZTF20acobevy,1445105054315015001,0.562998,-23.495017,"[[322.08258, 322.74316, 328.82214, 312.85754, ...","[[314.3545, 320.30292, 321.7528, 316.95563, 31...","[[3.794005, 7.222793, 2.303992, -1.6538174, 10...",sn,"(63, 63)"
...,...,...,...,...,...,...,...,...,...
0,ZTF19acftdhz,1020195631015015012,342.574051,1.077047,"[[153.08875, 139.67166, 150.58994, 156.79999, ...","[[151.06505, 149.8949, 149.18938, 150.85251, 1...","[[-0.45030835, -6.6188827, -3.6711657, 10.9179...",satellite,"(63, 63)"
0,ZTF19acqxshs,1042127545015015002,307.763928,-14.329139,"[[127.21539, 136.37006, 153.26569, 146.86566, ...","[[144.475, 144.72737, 142.48212, 144.18748, 14...","[[-13.794186, -13.200885, 13.645159, 9.248588,...",satellite,"(63, 63)"
0,ZTF19acqykmb,1042291142015015017,94.146447,11.340186,"[[96.12891, 121.75983, 108.45166, 115.3031, 96...","[[101.065125, 101.81215, 103.88564, 105.103355...","[[4.418814, 19.55451, -0.005840051, 10.860949,...",satellite,"(63, 63)"
0,ZTF19acrdyfr,1043265262115015067,72.337484,54.630553,"[[218.5285, 185.9408, 186.80939, 192.61707, 19...","[[198.42099, 198.68503, 198.60121, 197.94058, ...","[[19.005165, -10.944396, -12.604253, -4.095271...",satellite,"(63, 63)"
0,ZTF19acrydac,1046210042515015007,24.930835,-10.105637,"[[122.41797, 52.523438, 66.01123, 109.99243, 1...","[[108.07239, 110.502525, 109.38886, 106.65247,...","[[15.113004, -62.713535, -41.185696, 9.066036,...",satellite,"(63, 63)"