In [1]:
%cd ../

/home/dmoreno/pipeline_v3_final/pipeline/training/classifiers/data_acquisition/ztf_forced_fotometry

/home/dmoreno/.virtualenvs/ATAT_ALeRCE/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import pandas as pd

In [5]:
astro_objects_batch_0000 = pd.read_pickle('./preprocessed/data_241209_ao/astro_objects_batch_000.pkl')
astro_objects_batch_0000[0]['detections']

,candid,brightness,e_brightness,fid,mjd,detected,distnr,rfid,unit,sid,tid,pid,ra,dec
oid,,,,,,,,,,,,,,
ZTF17aaaocpq,16,-298.117703,13.214588,g,58330.490984,True,0.105545,745120126,diff_flux,ztf,ztf_telescope,ztf_forced_phot_service,88.723351,46.439334
ZTF17aaaocpq,17,-748.912579,6.702176,r,58333.491076,True,0.204159,745120226,diff_flux,ztf,ztf_telescope,ztf_forced_phot_service,88.723351,46.439334
ZTF17aaaocpq,18,-783.036650,4.777866,r,58336.467685,True,0.204159,745120226,diff_flux,ztf,ztf_telescope,ztf_forced_phot_service,88.723351,46.439334
ZTF17aaaocpq,19,-310.585264,5.689804,g,58336.493206,True,0.105545,745120126,diff_flux,ztf,ztf_telescope,ztf_forced_phot_service,88.723351,46.439334
ZTF17aaaocpq,20,-561.990580,4.870678,r,58342.489861,True,0.204159,745120226,diff_flux,ztf,ztf_telescope,ztf_forced_phot_service,88.723351,46.439334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZTF17aaaocpq,700,13.951578,0.001685,r,59350.161968,True,0.204159,745120226,magnitude,ztf,ztf_telescope,ztf_forced_phot_service,88.723351,46.439334
ZTF17aaaocpq,701,13.933901,0.001694,r,59350.164317,True,0.204159,745120226,magnitude,ztf,ztf_telescope,ztf_forced_phot_service,88.723351,46.439334
ZTF17aaaocpq,703,13.920945,0.001816,r,59353.159560,True,0.204159,745120226,magnitude,ztf,ztf_telescope,ztf_forced_phot_service,88.723351,46.439334
ZTF17aaaocpq,704,13.922040,0.001734,r,59353.161921,True,0.204159,745120226,magnitude,ztf,ztf_telescope,ztf_forced_phot_service,88.723351,46.439334
ZTF17aaaocpq,705,13.941766,0.001776,r,59353.164282,True,0.204159,745120226,magnitude,ztf,ztf_telescope,ztf_forced_phot_service,88.723351,46.439334

In [6]:
astro_objects_batch_16_0000 = pd.read_pickle('./preprocessed/data_241209_ao_shorten_features/16_astro_objects_batch_000.pkl')
astro_objects_batch_none_0000 = pd.read_pickle('./preprocessed/data_241209_ao_shorten_features/None_astro_objects_batch_000.pkl')

In [7]:
astro_objects_batch_16_0000[0]['features']

             name               value   fid  sid version
0        g-r_mean            1.367196   g,r  ztf   1.0.0
1         g-r_max            1.004003   g,r  ztf   1.0.0
2   g-r_mean_corr            0.760649   g,r  ztf   1.0.0
3    g-r_max_corr            0.731815   g,r  ztf   1.0.0
0           W1-W2  1.0199999999999996  None  ztf   1.0.0
..            ...                 ...   ...  ...     ...
3      mean_chinr            1.581143   g,r  ztf   1.0.0
0        Timespan           15.002208  None  ztf   1.0.0
0    Coordinate_x            0.015354  None  ztf   1.0.0
1    Coordinate_y            0.688951  None  ztf   1.0.0
2    Coordinate_z            0.724645  None  ztf   1.0.0

[209 rows x 5 columns]

In [8]:
astro_objects_batch_none_0000[0]['features']

             name               value   fid  sid version
0        g-r_mean            0.674468   g,r  ztf   1.0.0
1         g-r_max             0.30103   g,r  ztf   1.0.0
2   g-r_mean_corr            0.795315   g,r  ztf   1.0.0
3    g-r_max_corr            0.579872   g,r  ztf   1.0.0
0           W1-W2  1.0199999999999996  None  ztf   1.0.0
..            ...                 ...   ...  ...     ...
3      mean_chinr            1.497983   g,r  ztf   1.0.0
0        Timespan         1022.672872  None  ztf   1.0.0
0    Coordinate_x            0.015354  None  ztf   1.0.0
1    Coordinate_y            0.688951  None  ztf   1.0.0
2    Coordinate_z            0.724645  None  ztf   1.0.0

[209 rows x 5 columns]