In [1]:
import pandas as pd

In [5]:
df = pd.read_parquet('/home/dmoreno/pipeline_v4_final/pipeline/training/stamp_classifier/data_acquisition/rubin/data/processed/partitions/ts_stamps_v0.0.4_dp1')
df

              diaObjectId         diaSourceId     class     partition
0      628760465987600423  600425736871346826        VS          test
1      611255003922825940  600320190600183907       AGN          test
2      650018836115882038  600386155389124609  asteroid          test
3      592915218690998602  600359786038427673        SN          test
4      648367644528869531  600386157807140919  asteroid          test
...                   ...                 ...       ...           ...
24235  604062754768160203  600390560818659484        VS  validation_4
24236  592915356129952775  600416938765058728     bogus  validation_4
24237  648375547268694077  600386155389124652  asteroid  validation_4
24238  614429019114315195  600430118274859452     bogus  validation_4
24239  648368125565206548  600386156864995424  asteroid  validation_4

[24240 rows x 4 columns]

In [6]:
df.sample(50)

              diaObjectId         diaSourceId      class     partition
18542  579583227887354659  600394931885834300         VS    training_3
2708   648374722634973387  600408138510237722   asteroid    training_0
12260  611255072642302474  600320193014530099        AGN    training_2
3088   628769880555918070  600460943387263380      bogus    training_0
15970  648365445505614049  600403728651517957   asteroid    training_3
4411   648366888614625581  600399336110555171   asteroid    training_0
6679   614429637589598470  600368581858820276      bogus    training_1
3892   630406709772298313  600465369215271980      bogus    training_0
19125  614437746487853622  600368583069401107      bogus  validation_3
13539  604063373243449407  600390553703547286         VS    training_2
16221  604064885071937692  600390560145997988         VS    training_3
1389   612929147815069660  600447768308220560      bogus    training_0
17507  648374860073926969  600399337316417558   asteroid    training_3
4393   614436440817797620  600425752574296341         VS    training_0
6337   648366476297764893  600386157807665397  satellite    training_1
15473  604070039032692843  600390560283886111      bogus    training_3
4676   614437609048903302  600456556616089840         VS    training_0
2127   614436990573615938  600465368548376852  satellite    training_0
1301   628761840377155202  600465371498545427      bogus    training_0
20138  611253492094337081  600333360309469247        AGN    training_4
16958  614431080698609715  600368581993562137         VS    training_3
13504  591818387122815282  600399343220948993      bogus    training_2
16286  592913844301466529  600416938360307844      bogus    training_3
24012  579583915082122548  600394931617398999         VS  validation_4
7018   648366338858811514  600386157808189580  satellite    training_1
19902  650018973554835530  600386156329173041  satellite    training_4
900    614429019114312061  600425751765844625      bogus          test
10972  611254522886489313  600324579516219567      bogus    training_2
16895  614437609048902853  600447765356478564      bogus    training_3
2513   611255072642302457  600320192880312393        AGN    training_0
18154  604063373243449891  600390553839862131         VS    training_3
5457   611255622398115878  600320187646345326        AGN  validation_0
5819   630405953858048715  600456549905203749      bogus    training_1
8541   628761977816088838  600425737407693355      bogus    training_1
3313   611255622398117134  600324582070550593         VS    training_0
20277  579575874903343801  600390537195290868         VS    training_4
592    579583846362644892  600394931751617648         VS          test
19497  648366063980904560  600399336374796305   asteroid  validation_3
22372  650019042274312491  600403729456824354   asteroid    training_4
1348   604063304523972918  600390560149668428         VS    training_0
308    630406709772292832  600456547084534813      bogus          test
5326   592913019667744449  600425719150936109      bogus  validation_0
19943  579578073926603753  600394933364851371         VS    training_4
17750  650019592030126190  600399337717497889      bogus    training_3
17158  604063373243451033  600390554645168167         VS    training_3
2541   630407465686532651  600456549365710876      bogus    training_0
13508  604064266596646926  600390554107248671         VS    training_2
20439  648365101908230216  600403729861050389   asteroid    training_4
16017  592914050459895061  600416938362929308      bogus    training_3
6104   611253698252769982  600416935274348844      bogus    training_1

In [12]:
import pandas as pd


# Muestra el conteo de clases POR PARTICIÓN en los datos originales para comparar
print("--- Conteo de clases por partición (ANTES) ---")
print(df.groupby('partition')['class'].value_counts())
print("-" * 45)

# --- INICIO DEL PROCESO DE UNDERSAMPLING ---

# 1. Separar los datos que NO se tocarán (validation y test)
holdout_df = df[~df['partition'].str.startswith('training')].copy()

# 2. Seleccionar solo los datos de entrenamiento para submuestrear
training_data_to_sample = df[df['partition'].str.startswith('training')].copy()

# 3. Lista para guardar los DataFrames de cada partición de training ya procesada
undersampled_partitions = []

# 4. Iterar sobre cada partición de training única
for part in training_data_to_sample['partition'].unique():
    
    # Filtrar el DataFrame para obtener solo la partición de training actual
    current_partition_df = training_data_to_sample[training_data_to_sample['partition'] == part]
    
    # Calcular el número de muestras en la clase minoritaria de ESTA partición
    min_count = current_partition_df['class'].value_counts().min()
    
    print(f"Procesando '{part}': La clase minoritaria tiene {min_count} objetos. Todas las clases se reducirán a este tamaño.")
    
    # Agrupar por clase y tomar una muestra aleatoria de tamaño 'min_count' de cada una
    undersampled_partition = current_partition_df.groupby('class', group_keys=False).apply(
        lambda x: x.sample(min_count, random_state=42)
    )
    
    # Añadir el resultado a nuestra lista
    undersampled_partitions.append(undersampled_partition)

# 5. Combinar todas las particiones de training submuestreadas en un solo DataFrame
undersampled_training_df = pd.concat(undersampled_partitions)

# 6. Finalmente, unir los datos de training submuestreados con los datos de holdout (validation y test) originales
final_df = pd.concat([undersampled_training_df, holdout_df])

# --- FIN DEL PROCESO ---


# Muestra el conteo de clases en el DataFrame final para verificar
print("\n" + "-" * 45)
print("--- Conteo de clases por partición (DESPUÉS) ---")
print(final_df.groupby('partition')['class'].value_counts().sort_index())
print("-" * 45)

print("\nShape original del DataFrame:", df.shape)
print("Shape final del DataFrame:", final_df.shape)

--- Conteo de clases por partición (ANTES) ---
partition     class
test          VS           454
              bogus        400
              asteroid     200
              AGN           52
              satellite     40
                          ...
validation_4  bogus        320
              asteroid     160
              AGN           41
              satellite     32
              SN             7
Name: count, Length: 66, dtype: int64
---------------------------------------------
Procesando 'training_0': La clase minoritaria tiene 29 objetos. Todas las clases se reducirán a este tamaño.
Procesando 'training_1': La clase minoritaria tiene 28 objetos. Todas las clases se reducirán a este tamaño.
Procesando 'training_2': La clase minoritaria tiene 29 objetos. Todas las clases se reducirán a este tamaño.
Procesando 'training_3': La clase minoritaria tiene 29 objetos. Todas las clases se reducirán a este tamaño.
Procesando 'training_4': La clase minoritaria tiene 29 objetos. Todas las clases se reducirán a este tamaño.

---------------------------------------------
--- Conteo de clases por partición (DESPUÉS) ---
partition     class
test          AGN           52
              SN             9
              VS           454
              asteroid     200
              bogus        400
                          ...
validation_4  SN             7
              VS           363
              asteroid     160
              bogus        320
              satellite     32
Name: count, Length: 66, dtype: int64
---------------------------------------------

Shape original del DataFrame: (24240, 4)
Shape final del DataFrame: (6636, 4)

/tmp/ipykernel_2015236/4233782608.py:32: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  undersampled_partition = current_partition_df.groupby('class', group_keys=False).apply(
/tmp/ipykernel_2015236/4233782608.py:32: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  undersampled_partition = current_partition_df.groupby('class', group_keys=False).apply(
/tmp/ipykernel_2015236/4233782608.py:32: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  undersampled_partition = current_partition_df.groupby('class', group_keys=False).apply(
/tmp/ipykernel_2015236/4233782608.py:32: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  undersampled_partition = current_partition_df.groupby('class', group_keys=False).apply(
/tmp/ipykernel_2015236/4233782608.py:32: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  undersampled_partition = current_partition_df.groupby('class', group_keys=False).apply(

In [17]:
final_df[final_df.partition == 'training_0']['class'].value_counts()

class
AGN          29
SN           29
VS           29
asteroid     29
bogus        29
satellite    29
Name: count, dtype: int64

In [18]:
final_df[final_df.partition == 'validation_0']['class'].value_counts()

class
VS           364
bogus        320
asteroid     160
AGN           41
satellite     32
SN             7
Name: count, dtype: int64

In [19]:
final_df[final_df.partition == 'test']['class'].value_counts()

class
VS           454
bogus        400
asteroid     200
AGN           52
satellite     40
SN             9
Name: count, dtype: int64

In [20]:
final_df.to_parquet('ajam.parquet')

In [24]:
import pandas as pd
import io
import random

MAX_RATIO_OVER_MIN = 2.5 

print("--- Conteo de clases por partición (ANTES) ---")
print(df.groupby('partition')['class'].value_counts())
print("-" * 45)

# --- INICIO DEL PROCESO DE UNDERSAMPLING ---

# 1. Separar datos que no se tocarán (validation y test)
holdout_df = df[~df['partition'].str.startswith('training')].copy()
training_data = df[df['partition'].str.startswith('training')].copy()

undersampled_partitions = []

# 2. Iterar sobre cada partición de training
for part in training_data['partition'].unique():
    current_partition_df = training_data[training_data['partition'] == part]
    
    class_counts = current_partition_df['class'].value_counts()
    min_count = class_counts.min()
    minority_class_name = class_counts.idxmin()
    
    print(f"Procesando '{part}': La clase minoritaria '{minority_class_name}' tiene {min_count} objetos.")
    
    # Lista para guardar los dataframes de cada clase (ya muestreados) de esta partición
    processed_classes_for_partition = []
    
    # 3. Iterar sobre cada clase DENTRO de la partición actual
    for class_name, current_class_count in class_counts.items():
        class_df = current_partition_df[current_partition_df['class'] == class_name]
        
        # Si es la clase minoritaria, la guardamos completa
        if class_name == minority_class_name:
            target_size = current_class_count
            print(f"... Clase '{class_name}' ({current_class_count} obj): Manteniendo todos los objetos (es la minoritaria).")
            processed_classes_for_partition.append(class_df)
            continue # Pasar a la siguiente clase

        # Si es una clase mayoritaria, calculamos el nuevo tamaño
        # Límite inferior es el tamaño de la clase minoritaria
        lower_bound = min_count
        # Límite superior es un % por encima de la minoritaria, pero NUNCA más grande que la cantidad de datos que ya tenemos
        upper_bound = min(int(min_count * MAX_RATIO_OVER_MIN), current_class_count)
        
        # Elige un tamaño aleatorio dentro del rango [lower, upper]
        # Aseguramos que el lower_bound no sea mayor que el upper_bound
        if lower_bound >= upper_bound:
             target_size = upper_bound
        else:
             target_size = random.randint(lower_bound, upper_bound)
        
        print(f"... Clase '{class_name}' ({current_class_count} obj): Reduciendo a un tamaño aleatorio en [{lower_bound}, {upper_bound}] -> {target_size} objetos.")

        # Realizamos el muestreo y lo guardamos
        sampled_class_df = class_df.sample(n=target_size, random_state=42)
        processed_classes_for_partition.append(sampled_class_df)
        
    # Combinamos todas las clases procesadas para esta partición
    undersampled_partition = pd.concat(processed_classes_for_partition)
    undersampled_partitions.append(undersampled_partition)

# 4. Combinar todas las particiones de training ya procesadas
undersampled_training_df = pd.concat(undersampled_partitions)

# 5. Unir con los datos de holdout (validation y test)
final_df = pd.concat([undersampled_training_df, holdout_df])

# --- FIN DEL PROCESO ---

print("\n" + "-" * 45)
print("--- Conteo de clases por partición (DESPUÉS) ---")
print(final_df.groupby('partition')['class'].value_counts().sort_index())
print("-" * 45)

print("\nShape original del DataFrame:", df.shape)
print("Shape final del DataFrame:", final_df.shape)

--- Conteo de clases por partición (ANTES) ---
partition     class
test          VS           454
              bogus        400
              asteroid     200
              AGN           52
              satellite     40
                          ...
validation_4  bogus        320
              asteroid     160
              AGN           41
              satellite     32
              SN             7
Name: count, Length: 66, dtype: int64
---------------------------------------------
Procesando 'training_0': La clase minoritaria 'SN' tiene 29 objetos.
... Clase 'VS' (1452 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 39 objetos.
... Clase 'bogus' (1280 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 29 objetos.
... Clase 'asteroid' (640 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 72 objetos.
... Clase 'AGN' (164 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 41 objetos.
... Clase 'satellite' (128 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 51 objetos.
... Clase 'SN' (29 obj): Manteniendo todos los objetos (es la minoritaria).
Procesando 'training_1': La clase minoritaria 'SN' tiene 28 objetos.
... Clase 'VS' (1453 obj): Reduciendo a un tamaño aleatorio en [28, 70] -> 31 objetos.
... Clase 'bogus' (1280 obj): Reduciendo a un tamaño aleatorio en [28, 70] -> 51 objetos.
... Clase 'asteroid' (640 obj): Reduciendo a un tamaño aleatorio en [28, 70] -> 63 objetos.
... Clase 'AGN' (164 obj): Reduciendo a un tamaño aleatorio en [28, 70] -> 65 objetos.
... Clase 'satellite' (128 obj): Reduciendo a un tamaño aleatorio en [28, 70] -> 51 objetos.
... Clase 'SN' (28 obj): Manteniendo todos los objetos (es la minoritaria).
Procesando 'training_2': La clase minoritaria 'SN' tiene 29 objetos.
... Clase 'VS' (1453 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 58 objetos.
... Clase 'bogus' (1280 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 61 objetos.
... Clase 'asteroid' (640 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 34 objetos.
... Clase 'AGN' (164 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 57 objetos.
... Clase 'satellite' (128 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 37 objetos.
... Clase 'SN' (29 obj): Manteniendo todos los objetos (es la minoritaria).
Procesando 'training_3': La clase minoritaria 'SN' tiene 29 objetos.
... Clase 'VS' (1453 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 48 objetos.
... Clase 'bogus' (1280 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 52 objetos.
... Clase 'asteroid' (640 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 64 objetos.
... Clase 'AGN' (164 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 50 objetos.
... Clase 'satellite' (128 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 70 objetos.
... Clase 'SN' (29 obj): Manteniendo todos los objetos (es la minoritaria).
Procesando 'training_4': La clase minoritaria 'SN' tiene 29 objetos.
... Clase 'VS' (1453 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 55 objetos.
... Clase 'bogus' (1280 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 47 objetos.
... Clase 'asteroid' (640 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 38 objetos.
... Clase 'AGN' (164 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 38 objetos.
... Clase 'satellite' (128 obj): Reduciendo a un tamaño aleatorio en [29, 72] -> 41 objetos.
... Clase 'SN' (29 obj): Manteniendo todos los objetos (es la minoritaria).

---------------------------------------------
--- Conteo de clases por partición (DESPUÉS) ---
partition     class
test          AGN           52
              SN             9
              VS           454
              asteroid     200
              bogus        400
                          ...
validation_4  SN             7
              VS           363
              asteroid     160
              bogus        320
              satellite     32
Name: count, Length: 66, dtype: int64
---------------------------------------------

Shape original del DataFrame: (24240, 4)
Shape final del DataFrame: (7159, 4)

In [25]:
final_df[final_df.partition == 'training_0']['class'].value_counts()

class
asteroid     72
satellite    51
AGN          41
VS           39
bogus        29
SN           29
Name: count, dtype: int64